<form class="well" (submit)="addTask($event)">
	<div class="form-group">
		<input [(ngModel)]="title" type="text" name="title" class="form-control" placeholder="Add a Task">
	</div>
</form>

<div class="task-list">
	<div *ngFor="let task of tasks">
		<div class="col-md-1">
			<input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
		</div>
		<div class="col-md-7">
			{{task.title}}
		</div>
		<div class="col-md-4">
			<input class="btn btn-danger" type="button" value="Delete">
		</div>
		<br><br><br>
	</div>
</div>